{% extends 'base.html.twig' %}

{% block title 'Fiche Contact' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block body %}

    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center mb-4">Fiche contact</h1>
                {{ form_start(contactForm) }}
                {{ form_widget(contactForm) }}
                <button type="submit" class="btn btn-primary">Envoyer un email</button>
                {{ form_end(contactForm) }}
            </div>
        </div>
    </div>

{% endblock %}

